@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Poppins', sans-serif;
}

body {
  background-color: #ffffff;
  color: #000000; /* Text color for light mode */
}

/* Dark mode styles */
.dark {
  background-color: #121212;
  color: #ffffff; /* Text color for dark mode */
}